.search
  width 100%
  .search_form
    width 100%
    height 45px
    background-color #ffee93
    text-align center
    line-height 45px
    .search_input
      width 75%
      height 30px
      padding 0 5px
      border-radius 15px
      font-size 16px
      caret-color dodgerblue
      outline none
    .search_input::-webkit-input-placeholder
      color orange
    .search_submit
      width 20%
      height 30px
      border-radius 2px
      background-color #82b5d4
      color white
      outline none
  .search_list
    width 100%
    .list_ul
      width 100%
      .list_li
        width 95%
        height 50px
        margin 15px 10px 0 10px
        padding-bottom 10px
        background-color #ddd
        box-shadow 0 0 8px 1px #ccd
        .item_left, .item_right
          margin 5px 0 0 5px
          float left
        .item_right
          width 80%
          .right_top, .right_middle, .right_bottom
            height 33%
            margin-left 5px
            margin-bottom 5px
            font-size 12px
          .right_top
            margin-top 5px

  .no_search
    width 100%
    height 300px
    position: relative
    z-index 10
    .content
      width 96%
      height 100px
      text-align center
      line-height 100px
      margin-top 2%
      margin-left 2%
      border-radius 10px
      background-color #daa
      box-shadow 0 0 8px 2px #ccd
      span
        font-size 18px
      .icon-bumanyi
        font-size 24px
        color wheat
      .no_search_text
        font-weight bold
        color rgba(0, 0, 0, 0.7)
  .search_hot
    height 100px
    margin-top 65px
    margin-left 10px
    position absolute
    left 0
    top 0
    z-index 1
    .hot_title
      display block
      margin-bottom 5px
      margin-left 5px
      font-size 13px
    ul
      li
        height 20px
        float left
        margin 5px
        padding 2px
        background-color rgba(231,231,231,0.5)
        span
          font-size 12px
        .iconfont
          font-size 15px
          font-weight bold
        .icon-shucai
          color green
        .icon-kouzhao
          color lightskyblue
        .icon-yao
          color deepskyblue

