.update_pw
  width 100%
  height 100%
  .icon-zuo
    position absolute
    top 10px
    left 10px
    color #fff
    font-size 25px
    z-index 10
  .title
    width 100%
    height 50px
    background-color #daa8ad
    position: absolute
    left 0
    top 0
    text-align center
    line-height 50px
    font-size 24px
    color #d9f9f9
    border-radius 5px
    box-shadow 0 0 10px 5px #e9f9f9
  .form
    width 100%
    height 35%
    padding-top 30%
    text-align center
    position: relative
    .show_pwd
      position: relative
      .iconfont
        font-size 24px
        position: absolute
        right 0
        top 0
        z-index 11
        margin-right 10px
      .icon-icon-eye-open
        color deepskyblue
    .form-group
      position: relative
      width 100%
      margin-bottom 30px
      .group-title
        display block
        float left
        margin-left 10px
        font-size 20px
        font-family Helvetica
        color rgba(166, 166, 166, 0.8)
        margin-bottom 5px
      .iconfont
        position absolute
        left 10px
        top 35px
        font-size 24px
        color #6CFFB2
      .name_tip, .phone_tip
        float left
        margin-top 5px
        font-size 12px
        color orangered
      .form-control
        width 88%
        height 40px
        padding-left 40px
        border-radius 10px
        color grey
        font-size 24px
        border 1px solid #fff
        outline none
        caret-color dodgerblue
        &:focus
          border 1px solid #cee
          box-shadow 0 0 8px 3px #eee
        &.mistake
          border 1px solid orangered
          box-shadow 0 0 8px 3px #ede
      .form-control::-webkit-input-placeholder
        color rgba(100, 22, 222, 0.1)
    .update_yes, .update_no, .remake
      width 100px
      height 40px
      margin-right 10px
      color #ffffff
      font-weight bold
      border-radius 8px
      background-color #82b5da
    .update_no
      background-color #ccc

.icon-icon-test
  color orangered
.icon-zhengque
  color lightgreen

